.select {
	display: grid;
	grid-template-areas: "select";
	align-items: center;

	width: auto;
	min-width: 15ch;
	max-width: 30ch;
	border-radius: 4px;
	border: 1px solid #ccc;
	cursor: pointer;
	line-height: 1.5;
	background-color: #f3f3f3;
	box-sizing: border-box;
	margin-bottom: 2rem;
	font-size: 0.9rem;
	font-weight: 500;
	overflow: hidden;
	margin-left: 1rem;

	&:hover {
		border-color: #aaa;
	}

	&:focus-within {
		outline: 2px solid var(--color-yellow);
	}

	& select {
		appearance: none;
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0.5em 1.5em 0.5em 1em;
		width: 100%;
		font-family: inherit;
		font-size: inherit;
		cursor: inherit;
		line-height: inherit;
		grid-area: select;
		font-weight: inherit;
	}

	&::after {
		content: "";
		width: 0.6em;
		height: 0.3em;
		background-color: #888;
		clip-path: polygon(100% 0%, 0 0%, 50% 100%);
		grid-area: select;
		justify-self: end;
		align-self: end;
		margin-bottom: 0.7em;
		margin-right: 0.5em;
	}

	&::before {
		content: "";
		width: 0.6em;
		height: 0.3em;
		background-color: #888;
		clip-path: polygon(100% 100%, 0 100%, 50% 0%);
		grid-area: select;
		justify-self: end;
		align-self: start;
		margin-top: 0.7em;
		margin-right: 0.5em;
	}
}
